@import "tailwindcss";
/* @layer theme, base, components, utilities; */

@theme {
  --color-themColor: #6229cf;
  --color-themColor2: #cc57fa;
  --color-mainColor: #2D3350;
  --color-darkColor: #090C1E;
  --color-dark-100: #1a1f24;
  --color-icon: #EFF1F4;
  --color-secondary: #8a8f84;
  --color-gray-250: #f3f3f3;
  --gradient-primary: linear-gradient(30deg, #6229cf, #cc57fa);
}
/* @layer theme {
  .gradient-primary {
    background-image: linear-gradient(30deg, #6229cf, #cc57fa);
  }
} */

@font-face {
  font-family: 'Centra';
  src: url('./assest/fonts/CentraNo1-Medium-BF646c26904bcde.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
:root {
  --body-background-color: #ffff;
  --text-color-main: #2D3350;
  --text-color-dark: #090C1E;
  --tag-background-color: #EFF1F4;
  --theme-color: #6229cf;
  --gradient-color-one: var(--theme-color);
  --gradient-color-two: #cc57fa;
  --gradient-angle: 30deg;
  --gradient-primary2: (var(--gradient-angle), var(--gradient-color-one), var(--gradient-color-two));
  --gradient-primary: linear-gradient(var(--gradient-angle), var(--gradient-color-one), var(--gradient-color-two));
  --logo-header-height: 80px;
  --logo-footer-height: 80px;
  --font-body: 'Centra', sans-serif;
}

:root[data-color-scheme=dark] {
  --color-background-100: #1a1f24;
  --color-background-200: #2a2f34;
  --color-background-300: #3a3f44;
  --color-background: #0d1217;
  --color-secondary: #8a8f84;
  --dropdown--background-color: #2a2f34;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--font-body) !important;
  font-weight: 400;
  line-height: 1.6;
  background-color: var(--body-background-color);
  color: var(--text-color-main);
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  color: var(--text-color-dark);
  font-family: var(--font-body) !important;
}
p {
  font-weight: 400;
  font-family: var(--font-body) !important; 
}
svg {
  fill: currentColor;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
.btn {
  display: inline-block;
  white-space: nowrap;
  text-align: center;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: 700;
  height: 48px;
  padding: 0 2rem;
  color: #ffff;
  background-image: var(--gradient-primary);
  border: none;
  transition: all .25s;
  opacity: 1;
}
.btn:hover {
  opacity: .85;
  background-position: right center;
}
.slick-prev, .slick-next {
  width: 30px !important;
}
.slick-prev:before, .slick-next:before {
  font-size: 1.8rem !important;
  color: var(--text-color-dark) !important;
}
/* .slick-dots li.slick-active button:before {
  color: white !important;
} */